@charset "utf-8";
@import url("gg.css");
@import url("shijian.css");


.input-group {
    box-shadow: 0 0 5px #e2e2e2;
    background: #fff;
}

.input-group-addon,
.form-control {
    height: 50px;
    background: #fff;
    border: none;
    box-shadow: none;
}

.form-control:focus {
    box-shadow: none;
}

.input-group-addon {
    font-weight: 600;
}

.Submission {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
}

.input-group {
    margin-right: 20px;
}

/* ******** */

.button_box {
    white-space: nowrap;
    margin-left: 40%;
}

.button_box button {
    color: #fff;
    padding: 6px 20px;
    border: none;
    border-radius: 20px;
    background: #ffd800;
    margin-left: 10px;
}

.button_box .reset {
    background: #f14141;
}

/* ******** */

.list_box li {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.table_header,
.table_children_header {
    text-align: center;
    height: 50px;
    line-height: 50px;
    background: #fff;
    box-shadow: 0 0 5px #f1f1f1;
    white-space: nowrap;
    margin: 4px 0 0 0;
}

.confirm_box {
    display: none;
}

.confirm,
.cancel {
    padding: 8px 12px;
    color: #fff;
    background: #ffd800;
    border-radius: 20px;
    margin: 0 4px;
    cursor: pointer;
}

.cancel {
    background: #f14141;
}

.list_box input {
    border: none;
    text-align: center;
}

.list_box .col-lg-3 {
    text-align: left;
}



.table_children_main {
    border-top: 1px dotted #f1f1f1;
}



.edit,
.delete {
    width: 35px;
    height: 35px;
    cursor: pointer;
}

.shelf {
    cursor: pointer;
}
